<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav>
    <a href="/"><img src="/images/logo.jpg" alt="" width="50px"></a>
    <a href="/cakes/new">Add a Cake</a>
    <a href="/orderCake">Order a Cake</a>
</nav>
<body>
    <div>
        <h1><%= cake.name %></h1>
        <img src=<%= cake.image %> alt="" width="300px">
        <h2>Type: <%= cake.type %></h2>
        <p>Prices:</p>
        <ul>
            <li>8 inches: $<%= cake.price["8 inch"]%></li>
            <li>10 inches: $<%= cake.price["10 inch"]%></li>
            <li>12 inches: $<%= cake.price["12 inch"]%></li>
        </ul>
        <a href="/cakes/<%= cake._id %>/edit"><button>Edit Cake</button></a>
    </div>
</body>
</html>